
canvas {  
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}

* {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
	margin: 0;
	text-align: center;
}

#about {
	vertical-align: middle;
	height: 50px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 2%;
}

div {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 8px;
	width: fit-content;
	gap : 10px;
	margin:auto;
	background-color: rgba(0,0,0, 0.4);
}